node_modules
bower_components
*.log
.DS_Store
.sass-cache

public/thumbs
public/site/accounts
public/site/cache
public/assets/images
public/assets/scripts
public/assets/styles
public/assets/avatars

gulpfile.js/local.config.js
source/vendor/modernizr.js
typings

tmp/
